<div class='container container-fluid' id='page-top'>
  <section id='services' style='margin-bottom: 50px; margin-top: 50px'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-12 text-center'>
          <h2 class='section-heading'>Angular and Web Development Experience</h2>
          <hr class='primary' />
        </div>
      </div>
    </div>
    <div class='container container-fluid'>
      <div class='row'>
        <div class='card border-secondary shadow-lg'>
          <div class='card-header text-white bg-primary-color'>
            <div class='h4'>
              National Cancer Institute - Full Stack Developer (Project 2)
              <span style='float: right'> Sep 2019 - Current </span>
            </div>
          </div>
          <div class='card-body' style='font-family: Arial, sans-serif'>
            <ul>
              <li>
                Developed user interface and frontend with React JS, Next JS, and Material UI.
              </li>
              <li>Implemented Redux (Redux Toolkit) state management library to manage application state</li>
              <li>Developed custom react hooks to reuse the frequently used code </li>
              <li>Implemented forms with Formik and custom validations using Yup</li>
              <li>Developed responsive and mobile friendly web pages with Material UI, HTML5, CSS</li>
              <li>Implemented CICD setup with Jenkins on OpenShift environment and automated deployment process
                through Jenkins pipeline
              </li>
              <li>Developed unit tests with JUnit, and integration tests with Spring Testing and Mockito framework
              </li>
              <li>Developed React integration tests with Cypress on Frontend</li>
            </ul>
          </div>
          <div class='card-footer'>
            <b>Technologies:</b> React JS, NextJS, Material UI, Redux, Formik, Yup, Cypress etc.
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='card border-secondary shadow-lg'>
          <div class='card-header text-white bg-primary-color'>
            <div class='h4'>
              National Cancer Institute - Full Stack Developer (Project 1)
              <span style='float: right'> Sep 2019 - Current </span>
            </div>
          </div>
          <div class='card-body' style='font-family: Arial, sans-serif'>
            <ul>
              <li>
                Developed Angular 10+ modules, components, services to process data and send HTTP requests to Spring
                Boot application.
              </li>
              <li>
                Developed Angular authentication guards to prevent unauthorized access and added custom http
                interceptors to handle exceptions received from backend and add authentication information for every
                request
              </li>
              <li>Implemented Angular validations, custom form controls, groups to handle form data</li>
              <li>Added Akita (later migrated to Elf) state management library to manage application state</li>
              <li>
                Developed responsive and mobile friendly web pages with Angular Material, Bootstrap 5.x, HTML5, CSS
              </li>
              <li>
                Implemented CICD setup with Jenkins on OpenShift environment and automated deployment process through
                Jenkins pipeline
              </li>
              <li>Developed unit tests with JUnit, and Spring testing frameworks.</li>
              <li>Developed integration tests with Spring Testing and Mockito framework in backend</li>
              <li>Developed Angular integration tests with Cypress on Frontend</li>
            </ul>
          </div>
          <div class='card-footer'>
            <b>Technologies:</b>Angular 13+, Angular Material, Bootstrap, Akita, Elf, Cypress, Jenkins, Docker Swarm, NgInx etc...
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='card border-secondary shadow-lg'>
          <div class='card-header text-white bg-primary-color'>
            <div class='h4'>
              The University of Texas at Tyler - Web Developer
              <span style='float: right'> Aug 2015 - Dec 2015 </span>
            </div>
          </div>
          <div class='card-body' style='font-family: Arial, sans-serif'>
            <ul>
              <li>
                Designed and developed Content Management System website with AngularJS, jQuery, HTML5, CSS3 and
                Javascript.
              </li>
              <li>
                The web pages were designed with bootstrap 3.x framework, that’s compatible with mobile, tablet and
                large desktops.
              </li>
              <li>
                Helped in integrating LDAP with ESS website and website was designed based on ITIL process with rich
                user interface.
              </li>
              <li>Design new themes and CSS style sheets to add richness to the web site.</li>
              <li>Customize some out of box CSS styles to maintain the uniformity throughout the application.</li>
            </ul>
          </div>
          <div class='card-footer'>
            <b>Technologies: </b> AngularJS, jQuery, JavaScript, Bootstrap 3.x, CSS3 and HTML5
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='card border-secondary shadow-lg'>
          <div class='card-header text-white bg-primary-color'>
            <div class='h4'>
              Owens Corning - Web Developer
              <span style='float: right'> Oct 2013 - Aug 2014 </span>
            </div>
          </div>
          <div class='card-body' style='font-family: Arial, sans-serif'>
            <ul>
              <li>
                Designed and developed prototype for Content Management System website using AngularJS, jQuery,
                Bootstrap, HTML and CSS
              </li>
              <li>
                The web pages were designed with Bootstrap framework that’s compatible with mobile, tablet and large
                desktops.
              </li>
              <li>Developed categories and subcategories selection web pages</li>
              <li>Developed shopping cart, check out and order creation web pages</li>
              <li>Developed Rest Api to create orders from third party systems</li>
              <li>JSON data model used to capture data between different pages.</li>
              <li>Used Ajax to update shopping cart contents in real time</li>
              <li>Designed and developed user self-registration, activation web pages</li>
              <li>Implemented model for Google reCaptcha v1.0 separate bots from humans</li>
              .
              <li>Designed and Developed application architecture for custom applications</li>
              <li>
                Implemented best practices for the project and urged team to follow industry standard coding styles.
              </li>
              <li>
                Setup Team development process to check-in and check-out code from different developers. Integrated
                this
                with Git
              </li>
              <li>
                Developed automation testing use cases using Selenium Builder and used Sauce labs to test cross
                browser
                and cross platform functionality.
              </li>
              <li>
                Developed Business layer, Service layer and Data access layer logic to process the requests from end
                users.
              </li>
              <li>GlideAjax API used to request/send data to server and session API used to maintain user
                sessions.
              </li>
              <li>Customize CSS styles were used to maintain the uniformity throughout the application.</li>
            </ul>
          </div>
          <div class='card-footer'>
            <b>Technologies:</b> Content management system with AngularJS, jQuery, JavaScript, CSS and HTML
          </div>
        </div>
      </div>
    </div>
  </section>

  <aside class='bg-dark' style='height: 3px'></aside>
</div>
