<div id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container container-fluid">
      <div>
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
        <a class="navbar-brand page-scroll" href="https://github.com/pavankjadda"  data-toggle="tooltip" data-placement="top" title="Click here to see my Github activity"  target="_blank">
          <img alt="LinkedIn" src="../../../assets/img/github.png" style="width: 25px; height: 25px">
        </a>
        <a  class="navbar-brand page-scroll" href="https://www.linkedin.com/in/pavan-kumar-j-84b58117/"  data-toggle="tooltip" data-placement="top" title="Click here to see my Linkedin profile"  target="_blank">
          <img alt="LinkedIn" src="../../../assets/img/linkedin.png" style="width: 25px; height: 25px">
        </a>
        <button class="navbar-toggler navbar-toggler-right float-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </nav>

  <br> <br> <br> <br>

  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Java Experience</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card-group">
        <div class="row">
          <div class="card" style="margin-top: 10px; border-color:#0275d8 ">
            <div class="card-header text-white" style="background-color: #0275d8">
              <h4> National Cancer Institute - Full Stack Developer <span style="float: right"> Sep 2019 - Current </span></h4>
            </div>
            <div class="card-body" style="font-family: Arial,sans-serif">
              <ul>
                <li>Designed, developed, and implemented Java application with Spring Boot, Spring Data and Spring
                  Security.
                </li>
                <li>Developed REST API web services with Spring Boot, Spring Data and implemented business logic</li>
                <li>Consumed third party REST API applications with Spring RestTemplate and implemented custom error
                  handling mechanism
                </li>
                <li>Implemented Spring AOP for logging and developed Aspects, Advices through Pointcut expressions</li>
                <li>Implemented LDAP login, basic authentication login using Spring Security module
                </li>
                <li> Developed Angular 10 modules, components, services to process data and send HTTP requests to Spring
                  Boot application.
                </li>
                <li>Developed Angular authentication guards to prevent unauthorized access and added custom http
                  interceptors to handle exceptions received from backend and add authentication information for every
                  request
                </li>
                <li>Implemented Angular validations, form controls to handle form data</li>
                <li>Developed responsive and mobile friendly web pages with Bootstrap 4.x, HTML5, CSS</li>
                <li>Implemented CICD setup with Jenkins on OpenShift environment and automated deployment process
                  through Jenkins pipeline
                </li>
                <li>Developed unit tests with JUnit, and Spring testing frameworks.</li>
                <li>Developed integration tests with Spring Testing and Mockito framework</li>
              </ul>
            </div>
            <div class="card-footer">
              <b>Technologies:</b> Java 11, Spring Boot, Spring Data, Java Micro Services, JHipster framework, Docker Swarm,
              Docker, Angular 10, Bootstrap etc.
            </div>
          </div>
        </div>
        <br> <br>

        <div class="row">
          <div class="card" style="margin-top: 10px; border-color:#0275d8 ">
            <div class="card-header text-white" style="background-color: #0275d8">
              <h4> BCMC, LLC - Java Developer <span style="float: right"> Feb 2017 - Aug 2019 </span></h4>
            </div>
            <div class="card-body" style="font-family: Arial,sans-serif">
              <ul>
                <li>Designed, developed, and implemented Java Microservices with Spring Boot, Spring Data and Spring
                  Security.
                </li>
                <li>Developed Microservices registry and Gateway with Spring Boot, Spring Cloud config server, Netflix
                  Eureka and Netflix Zuul
                </li>
                <li>Developed REST API web services with Spring Boot, Spring Data and implemented business logic</li>
                <li>Consumed third party REST API applications with Spring RestTemplate and implemented custom error
                  handling mechanism
                </li>
                <li>Implemented Spring AOP for logging and developed Aspects, Advices through Pointcut expressions</li>
                <li>Good experience on implementing Spring Security with form login, basic authentication login and
                  implemented keycloak for Social login and SSO
                </li>
                <li>Implemented Apache Kafka message broker for IPC (inter-process communication) between microservices
                  and reduced dependency between microservices
                </li>
                <li>Implemented Event Sourcing and CQRS (Command Query Responsibility Segregation) with Kafka Streams
                  API
                </li>
                <li> Developed Angular 7 modules, components, services to process data and send HTTP requests to Spring
                  Boot application.
                </li>
                <li>Developed Angular authentication guards to prevent unauthorized access and added custom http
                  interceptors to handle exceptions received from backend and add authentication information for every
                  request
                </li>
                <li>Implemented Angular validations, form controls to handle form data</li>
                <li>Developed responsive and mobile friendly web pages with Bootstrap 4.x, HTML5, CSS</li>
                <li>Implemented materialized views with Kafka StateStores for faster data access</li>
                <li>Developed Rest Api using Javax-Rx web services with jetty server to access data from Kafka State
                  Stores
                </li>
                <li>Oversaw the Kubernetes configurations for microservices and deployment of docker containers on
                  OpenShift cluster present in AWS
                </li>
                <li>Implemented CICD setup with Jenkins on OpenShift environment and automated deployment process
                  through Jenkins pipeline
                </li>
                <li>Familiar with case search implementation with Elastic Search</li>
                <li>Followed Agile scrum process for software development and used JIRA to track the progress of user
                  stories, tasks
                </li>
                <li>Developed unit tests with JUnit, and Spring testing frameworks.</li>
                <li>Developed integration tests with Spring Testng and Mockito framework</li>
                <li>Provided guidance and technical leadership to junior software developers.</li>

              </ul>
            </div>
            <div class="card-footer">
              <b>Technologies:</b> Java, Spring Boot, Spring Data, Java Micro Services, JHipster framework, Kubernetes,
              Docker, Apache Kafka Streams, SAGA, Angular 4, Bootstrap etc.
            </div>
          </div>
        </div>
        <br> <br>

        <div class="row">
          <div class="card row" style="margin-top: 10px; border-color:#0275d8 ">
            <div class="card-header text-white" style="background-color: #0275d8">
              <h4> General Motors - Java Developer <span style="float: right"> Nov 2011 - Sep 2013 </span></h4>
            </div>
            <div class="card-body" style="font-family: Arial,sans-serif">
              <ul>
                <li>Participated in project planning sessions with analyst and team members to analyze business IT
                  Requirements. Involved in Software Development Life Cycle process to design and implement the project.
                </li>
                <li>Developed UML class diagrams, sequence and use case diagrams using Visual Paradigm.</li>
                <li>Used Dependency Injection feature of Spring MVC framework and Object Relational mapping tool
                  Hibernate for rapid development and ease of maintenance.
                </li>
                <li>The presentation layer was developed using HTML, CSS and Bootstrap.</li>
                <li>Used jQuery data grid to load data in to tables with sorting and paging support</li>
                <li>Followed Spring MVC pattern and used View Resolver to map web pages.</li>
                <li>Configured Dispatcher-Servlet to create data source beans and message source beans, handled static
                  resources and inject dependencies by using autowire annotations
                </li>
                <li>Developed the DAO layer for the application using Spring Hibernate Template support.</li>
                <li>Wrote annotated POJO classes, which contain business logic to map database with persistent
                  objects.
                </li>
                <li>Implemented Spring framework for Transaction management and exception handling in business logic.
                </li>
                <li>Developed Restful web services for communication to external application, application integration.
                </li>
                <li>Applied DAO pattern to separate the persistence logic from the business logic.</li>
                <li>Implemented cross cutting concerns like business transactions, security, logging and monitoring
                  mechanism using Spring AOP.
                </li>
                <li>Used jQuery and AJAX to perform asynchronous requests to back end and performed form validations
                </li>
                <li>Used jQuery and Css to make views dynamic and responsive according to user interaction</li>
                <li>Implemented Maven build tools to build jar and war files and deployed war files to target servers.
                </li>
                <li>Involved in code review and deployment of the application on development, testing of production
                  servers.
                </li>
                <li>Followed Agile process with two week sprint and daily scrums</li>
                <li>Checked in and out code with with Git.</li>
                <li> Developed test cases in Test Driven Development (TDD) approach.</li>
                <li>Performed unit testing using Junit framework and performed integration testing with Mockito
                  framework
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <b>Technologies:</b> Java, Spring Boot, Spring Data, Java Micro Services, JHipster framework, Kubernetes,
              Docker, Apache Kafka Streams, SAGA, Angular 4, Bootstrap etc.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <aside class="bg-dark" style="height: 3px"></aside>

</div>
