/* You can add global styles to this file, and also import other style files */

@import '~startbootstrap-creative/src/scss/styles.scss';
@import '~bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Remove padding of the Card */
.card {
  padding: 0;
}

.bg-primary-color{
  background-color: #153d77;
}
